{% extends "layouts/base.html" %}
{% load static %}

{% block title %} List of Books {% endblock title %}

{% block content %}
   



{% if books %}
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Edition</th>
        </tr>
        {% for i in books %}
        <tr>
            <td>{{ i.title }}</td>
            <td>{{ i.author }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.edition }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No books found matching your search criteria.</p>
    {% endif %}
    {% endblock content %}
