
.topnav {
 background-color: #eeeeee;
 width: 100%;
}
 
/* Style the links inside the navigation bar */
.topnav a {
 color: #000000;
 text-align: center;
 margin-right: 25px;
 text-decoration: none;
 font-size: 17px;
}
 
/* Add a color to the active/current link */
.topnav a.active{
 color: #008CBA;
}

.link1, .link2, .link3 {
    display: block; 
    width: 100%;
    text-align: center; 
    padding: 15px; 
    font-size: 18px; 
    font-weight: bold; 
    text-decoration: none; 
}

.link1 {
    background-color: rgb(151, 235, 173); 
    color: red;
}

.link2 {
    background-color: rgb(130, 134, 130); 
    color: yellow;
}

.link3 {
    background-color: rgb(0, 0, 0); 
    color: white;
}

.link1:hover, .link2:hover, .link3:hover {
    opacity: 0.8;
}

.link:active {
    color: green;}


.formatting-title {
    background-color: #F5F5DC; 
    color: black;
    padding: 10px;
    text-align: left;
}


.listing-title {
    background-color: #4F9495; 
    color: white;
    padding: 15px;
    text-align: center;
}

.table-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}


.fruit-table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.fruit-table th, .fruit-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.fruit-table th {
    background-color: #f2f2f2;
}

/* تنسيق الجدول الثاني */
.camel-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.camel-table th, .camel-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.camel-table img {
    display: block;
    margin: 0 auto;
}

.camel-title {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}